
<main>
    <header class="hero">
        <img class="hero-image" src="img/test-unsplash.png" alt="drone">
        <div class="hero-content">
            <h1><span style="color:navy">AEROSPHERE </span> <span style="color: #FFBF00;">INNOVATIONS</span></h1>
            <h2>The Future of Autonomous Aviation</h2>
        </div>
    </header>
    <article class="container-region">
    <h1>The Future of AI in the military</h1>
    <p>Our main goal is to spearhead the research into automated AI systems for usage in the military and defense industry. We pride ourselves in our advanced tech and research.</p>
    <h3 class="text-title">Take a look at our portfolio of advanced products</h3>
</article>
</main>