
<main>
    <header class="hero">
        <img class="hero-image" src="img/test-unsplash.png" alt="drone">
        <div class="hero-content">
            <h1><span style="color:navy">AEROSPHERE </span> <span style="color: #FFBF00;">INNOVATIONS</span></h1>
            <h2>The Future of Autonomous Aviation</h2>
        </div>
    </header>
</main>