<main>
    <article class="testimonials">
                    <div class="card-list">
                        <div class="card">
                            <a href=""><img src="Head.jpg" alt=""></a>
                            <div class="card-content">
                                <h3><a href="">Unmanned Aerial Vehicles</a></h3>
                                <p>UAVs are our current main focus, Our research in this field is aimed at creating the perfect independent UAV. One that is fast thinking, smart and fully capable of dominating its field while also being affordable and easily maintained.</p>
                                <p>Our most prominent model is the MX-28 GhostCat, displayed above. It is the perfect example of our design philosophy as it has a spotless record as a light-strike and reconnaissance aircraft</p>
                            </div>
                        </div>
                        <div class="card">
                            <a href=""><img src="Targeting.png" alt=""></a>
                            <div class="card-content">
                                <h3>AI Targeting Systems</h3>
                                <p>We at Aerosphere-Innovations have been making AI controlled targeting systems ever since the company's conception. Our systems can be found on several things such as scopes, in vehicles, on planes, ships all the way to autonomous systems and satellites.</p>
                                <p>The targeting systems range is a large and varied one with lots of history behind it.</p>
                            </div>
                        </div>
                        <div class="card">
                            <a href=""><img src="Portable-AI.png" alt=""></a>
                            <div class="card-content">
                                <h3>Portable AI Systems</h3>
                                <p>A rather new field we at Aerosphere-Innovations have started in. We plan to give individual soldiers their own portable AI systems which will be capable of targeting, analysing situations and much more.</p>
                            </div>
                        </div>
                    </div>
            </article>
     <h3 style="color: white;">This is an easter egg</h3>
    </main>