    <header class="site-head">
        <a href="#"><span style="color: navy;">Aerosphere Innovations</span></a>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="About-Us.html">About Us</a></li>
                <li><a href="Graphic-Profile.html">Graphic Profile</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Stocks</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </nav>
    </header>